
venv/
nova_venv/
.env/
.venv/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


.ipynb_checkpoints/


*.db
*.sqlite
*.csv
*.parquet
*.delta


*.env
*.DS_Store
*.idea/
*.vscode/

/tmp/
*/_delta_log/
delta/


*.pid
*.sock


build/
dist/
*.egg-info/